header {
  display: flex;
  font-family: 'Rationale', sans-serif;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 20px;
}

header h1 {
  font-size: 50px;
  display: flex;
  align-items: flex-end;
}

.search-and-menu {
  display: flex;
  align-items: center;
}

.search-and-menu input {
  background: #ebebeb;
  border-radius: 50px;
  border: none;
  width: 200px;
  height: 20px;
  padding: 5px;
  margin-right: 20px;
}

.title-icon {
  height: 40px;
}

.workout-post-card {
  background: #DCF2F1;
  width: 250px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.user-data {
  width: 100%;
  display: flex;
  padding: 5px 15px;
  align-items: center;
}

.user-data h3 {
  margin: 0 10px;
}

.workout-post {
  width: 100%;
  padding-left: 15px;
}

.workout-post h3,
.workout-post h4 {
  margin: 0;
}

.workout-post h4 {
  margin: 0;
  font-weight: 300;
  font-style: italic;
}

.post-data {
  display: flex;
}

.post-data img {
  margin-left: 20px;
}

.user-post {
  margin-bottom: 30px;
}

.workout-data-container {
  display: flex;
  justify-content: space-between;
}

.workout-data-container a {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 12px;
  margin-right: 5px;
}

.workout-data-container p {
  margin: 0;
}

.workout-data-container span {
  font-weight: 800;
}

.heart-img:hover {
  cursor: pointer
}